data/*
results/*
externals_mightnotneed/*
SwitchingCode/*
WCS Code/*
R01Nimbus2021-main/*
*.png
*.pdf
NMCM.m
ExperimentalGUI/profiles/*.png
NIRS_SPM_v4_r1\*
NIRS_SPM_v4_r1*
nirs-toolbox*
fNIRSRecording*
NeminCode\*.m
